body {
  background-color: lightblue;
  text-align: center;
  ;
}

h1 {
  color: darkslateblue;
  margin-left: 20px;
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
  border:2px solid #fff;
  background: url(pb2.jpg) no-repeat;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}