body {
  background-image: url(aurora.jpeg);
  background-size: contain;

  text-align: center;

}

h1 {
  color: black;
  margin-left: 20px;
  text-align: center;
  text-shadow: 2px 2px lightslategrey;
}

p {
  text-shadow: 1px 1px darkslategrey;
}

img {
  width: 500px;
  height: 350px;
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

