body {
  background-color: #4f4e4c;
  background-size: contain;

  text-align: center;

}

h1 {
  color: black;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 2px 2px lightslategrey;
}

.bee {position: relative; width: 200px; height: 200px; overflow: hidden;}

h2 {
  color: black;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 2px 2px lightslategrey;
}

p {
  text-shadow: 1px 1px darkslategrey;
}


img {
  width: 500px;
  height: 350px;
  border:2px solid lightslategrey;
  box-shadow: 5px 5px 2.5px #ccc;
  -moz-box-shadow: 5px 5px 2.5px #ccc;
  -webkit-box-shadow: 5px 5px 2.5px #ccc;
  -khtml-box-shadow: 5px 5px 2.55px #ccc;
}

